#schoolimg{
    width: 900;
    height: 900;
    border: dotted;
    border-color:bisque;
}
#school{
    font-size: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.travel_mainDiv h5 , .travel_mainDiv p{
    margin: 20px;
}
.new{
    margin-bottom: 20px;
}
#contact iframe{
    width: 100%;
}
#body{
    text-align: center;
    background: rgb(80, 80, 80);
    color: white;
}
