body{
    text-align: center;
    background:linear-gradient(brown 0%, hotpink 100%);
}
#schoolimg{
    width: 900;
    height: 900;
    text-align: center;
    border: dotted;
    border-color:bisque;
}
#school{
    font-size: 300;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.travel_mainDiv h5 , .travel_mainDiv p{
    margin: 20px;
}